<div class="banner" style="background-image: url( <%=image_path('https://res.cloudinary.com/dsolsmeep/image/upload/v1546110155/background_copy.jpg')%>);">
  <div class="banner-container">
    <h1 class="banner-title">Ohio Panthers Baseball</h1>
    <h3 class="banner-subtitle">Some awesome tagline here</h3>
    <button type="button" class="home-button">Learn More</button>
  </div>
</div>
