<article class="wrapper style2">
  <div class="container">

          <div class="row aln-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <section class="box style1">
                <span class="icon featured fas fa-desktop"></span>
                <h3>Search Seniors</h3>

              </section>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <section class="box style1">
                <span class="icon featured fas fa-file-signature" style="content: '\f007';"></span>
                <h3>Roommate Agreement</h3>
              </section>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <section class="box style1">
                <span class="icon featured move fas fa-home" style="content: '\f015';"></span>
                <h3>Move In</h3>
              </section>
            </div>

            <h3 class="home-cards"> I might provide a small app description here - additional information.</h3>
          </div>
    <footer>
      <button type="button" class="info-button">Learn More</button>
    </footer>
  </div>
</article>
