<div>
  <ul>
    <li>
      <a href="#">
        <i class="fas fa-cat"></i>
      </a>
    </li>
    <br>
    <li>
      <a href="#">
        <i class="fas fa-kiwi-bird"></i>
      </a>
    </li>
    <br>
  </ul>

</div>
