<div id="sidebar">
  <ul>
    <li>
      <a href="#">
        <i class="fas fa-baseball-ball"></i>  About Us
      </a>
    </li>
    <br>
    <li>
      <a href="#">
        <i class="fas fa-people-carry"></i>  Teams
      </a>
    </li>
    <br>
    <li>
      <a href="#">
        <i class="fas fa-asterisk"></i>  2019 Tryouts
      </a>
    </li>
    <br>
    <li>
      <a href="#">
        <i class="fas fa-cat"></i>  Hilliard Panthers
      </a>
    </li>
    <br>
  </ul>
</div>
